# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore build artifacts
dist/
build/

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore npm debug log
npm-debug.log*

# Ignore Mac-specific files
.DS_Store
